<div class="todo_header_wrapper">
  <%= render 'shared/content_title', {title: @todo.title, todo: @todo} %>
</div>  

<div class="well span8 show_content">
  <h4><strong class="header_strong">Due Date:</strong> <%= display_datetime(@todo.start_time) %></h4>
  <% if @todo.description %>
    <hr/ class="show_break">
    <p><%= @todo.description %></p>
  <% end %>
  <hr/ class="show_break">
  <h5><small>Created: <%= display_datetime(@todo.created_at) %></small></h5>
  <% if @todo.created_at != @todo.updated_at %>
    <h5><small>Updated: <%= display_datetime(@todo.updated_at) %></small></h5>
  <% end %>
</div>

<div class="show_todo_buttons">
  <%= render "todo_buttons", todo: @todo %>
</div>

<div class='trigger_todos'></div>
